#mentor-form-container {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    overflow: hidden;
    padding-bottom: 5px;
}
#sortbyForm {
    display: block;
    float: right;
    margin: 0 0 0 10px;
}
#studentFilterForm .select.menusortby {
    display: block;
    margin: 0 !important;
}
#courseForm {
    display: block;
    float: right;
}
.select.menucoursefilter {
    max-width: 150px;
}
.mentor-img {
    margin-right: 6px;
}
.mentee-img {
    margin-left: 10px;
    margin-right: 6px;
}
.mentor {
    margin: 5px 0;
}
.mentee-block-menu {
    display: block;
    float: left;
    font-size: 11px;
    width: 50%;
}
.mentee-footer-menu {
    overflow: hidden;
}